/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */ h1
{
	font-size:2em;
	font-weight:bold;
	color:#777777;
	margin:40px0px70px;
	text-align:center;
}

.title {
	font-size:3em;
	font-weight:bold;
	color:#3333CC;
	vertical-align:text-bottom;
	
	padding-top:5px;
	padding-bottom:0px;
	padding-right:50px;
	padding-left:5px;
}

.subTitle {
	font-size:1em;
	font-weight:normal;
	color:#3333CC;
	vertical-align:text-bottom;
	
	padding-top:0px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
}

.main {
	padding-top:30px;
	vertical-align:top;
}

.navigationPanel {
	font-weight:bold;
	padding-right:30px;
	padding-top:0px;
	min-width:180px;
	vertical-align:top;
}

.chamber {
	background-color:#111111;
	vertical-align:bottom;
	min-width:200px;
	border:2px solid;
	border-color:#000000;
	border-radius:25px;
	-moz-border-radius:25px;
	box-shadow: 5px 5px 3px #888888;
}

.chamber_activity {
	font-size:3em;
	font-weight:bold;
	color:#00FF22;
	vertical-align:text-bottom;
	
	padding-top:0px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:15px;
}

.chamber_units {
	color:#00FF22;
	vertical-align:text-bottom;
		
	padding-top:5px;
	padding-bottom:15px;
	padding-right:15px;
	padding-left:5px;
}

.chamber_nuclide {
	color:#00FF22;
	vertical-align:text-bottom;
	
	padding-top:10px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:15px;	
}

.navigationPanel {
	padding-top:10px;
	padding-right:50px;	
}

.sendButton {
	display:block;
	font-size:16pt;
} 

/** Most GWT widgets already have a style name defined */ 
.gwt-DialogBox {
	width:400px;
}

.dialogVPanel {
	margin:5px;
}

.serverResponseLabelError {
	color:red;
} /** Set ids using widget.getElement().setId("idOfElement") */ #closeButton {
	margin:15px6px6px;
}
